body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: $default-font;
  color: #f7f4f1;
  font-style: normal;

  background-color: $bg-darkgrey;
  @include min-width($tablet-width) {
    background-color: #353535;
  }
}

.button {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #e5ddd5;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

