.stats {
  width: 320px;
  margin: 0 auto;
  @include min-width($tablet-width) {
    width: 640px;
    margin-top: -185px;
  }
  @include min-width($desktop-width) {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  &__header {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-left: 40px;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    @include min-width($tablet-width) {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
      &::before {
        content: "";
        position: absolute;
        top: 27px;
        left: -15px;

        border: 15px solid transparent;
        border-bottom-color: #ffffff;
        transform: rotate(45deg);
      }
    }
    @include min-width($desktop-width) {
      display: block;
      width: 240px;

      &::before{
        top: 22px;
      }
    }
  }
  &__slogan {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    @include min-width($tablet-width) {
      width: 240px;
      margin-bottom: 18px;
      font-size: 40px;
      line-height: 40px;
      text-align: left;
      text-transform: none;
    }
    @include min-width($desktop-width){
      width: auto;
      margin-bottom: 42px;
    }
  }
  &__intro {
    margin: 0;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    @include min-width($tablet-width) {
      width: 210px;
      margin-top: 5px;
      padding-right: 47px;
      text-align: left;
    }
    @include min-width($desktop-width){
      width: auto;
      margin-bottom: 32px;
      margin-right: 30px;
    }
  }
  &__list {
    width: 100%;
    border-collapse: collapse;
    @include min-width($tablet-width) {
      display: flex;
    }
    @include min-width($desktop-width) {
      display: flex;
      width: 640px;
    }
  }
  &__value, &__field {
    width: 50%;
    padding: 20px;
    padding-bottom: 20px;
    vertical-align: top;
  }
  &__value {
    padding-right: 0;
    font-size: 40px;
    line-height: 40px;
    @include min-width($tablet-width) {
      margin-bottom: 7px;
      font-size: 72px;
      line-height: 72px;
    }
    & sup {
      top: -0.35em;
      margin-left: 5px;
    }
  }
  &__field {
    padding-left: 0;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    @include min-width($tablet-width) {
      font-size: 20px;
      line-height: 27px;
      text-align: left;
      & br {
        display: none;
      }
    }
  }
}

tbody {
  tr:nth-child(1) {
    background-color: #404040;
  }

  tr:nth-child(2) {
    background-color: #4e4e4e;
  }

  tr:nth-child(3) {
    background-color: #353535;
  }

  tr:nth-child(4) {
    background-color: #404040;
  }
}

.stats__legend {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #626262;
  display: block;
  &--bottom {
    padding-top: 20px;
    padding-bottom: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: $bg-darkgrey;
    @include min-width($tablet-width) {
      display: none;
    }
  }
  &--top {
    display: none;
    @include min-width($tablet-width) {
      display: block;
      width: 240px;
      color: rgba(0, 0, 0, 0.3);
    }
    @include min-width($desktop-width){
      width: auto;
    }
  }
  & sup {
    top: -0.25em;
    font-size: 90%;
  }
}

.stats__list tbody {
  @include min-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.stats__list tr {
  @include min-width($tablet-width) {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
}

.stats__list td {
  @include min-width($tablet-width) {
    display: block;
    width: auto;
    padding: 0;
  }
}
