.page-footer {
  height: auto;
  &__wrapper {
    color: #ffffff;
    background-color: #242424;
    @include container;
    padding-top: 10px;
    @include min-width($tablet-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
    }
  }
  &__contacts {
    text-align: center;
  }
}

h1.contacts__title {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 0;
}

p.contacts__text {
  font-size: 18px;
  line-height: 27px;
}

a.contacts__phone.button {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0;
  @include min-width($tablet-width) {
    display: table;
    width: 200px;
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
  }
}

.social__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  @include min-width($tablet-width) {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.social__link {
  font-size: 18px;
  color: #ffffff;
}

.page-footer__copyright {
  text-align: center;
  @include min-width($tablet-width) {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 60px;
  }
}

i.fab.fa-vk {
  font-size: 48px;
  &:hover {
    color: #5f8bb7;
  }
}

i.fab.fa-facebook-f {
  font-size: 48px;
  &:hover {
    color: #1d3465;
  }
}

i.fab.fa-instagram {
  font-size: 48px;
  &:hover {
    color: #c04d1c;
  }
}

.html-academy {
  @include link();
  @include min-width($tablet-width) {
    width: 200px;
  }
}

.contacts__wrapper {
  @include min-width($tablet-width) {
    display: table;
    text-align: left;
  }
}

.addres br {
  @include min-width($tablet-width) {
    display: none;
  }
}

svg.social__link--instagram{
  fill: rgba(196, 50, 97, 1);
  &:hover{
    fill: lighten(rgba(196, 50, 97, 1),10%);
  }
}
svg.social__link--facebook{
  fill: #475993;
  &:hover{
    fill: lighten(#475993,10%);
  }
}
svg.social__link--vk{
  fill: #4d75a1;
  &:hover{
    fill: lighten(#4d75a1,10%);
  }
}

