.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  background-repeat: no-repeat;
  @include  min-width($tablet-width){
    background-image: url("../images/back-tablet.jpg.png");
  }
  @include min-width($desktop-width){
    background-image: url("../images/back-desktop.jpg.png");
  }
  &__wrapper{
  }
  &__logo {
    height: 85px;
    padding-top: 10px;
    text-align: center;
    @include min-width($tablet-width) {
      order: 2;
      height: 400px;
    }
    @include min-width($desktop-width){
      height: 648px;
    }
  }
  &__logo-image {
    cursor: pointer;
    padding-top: 55px;
    margin: 0 auto;
    display: block;
  }
}
