.main-nav__wrapper {
  background-color: #81654f;
  @include min-width($tablet-width){
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  @include min-width($desktop-width){
    width: 960px;
  }
}

.main-nav__toggle {
  width: 70px;
  height: auto;
  background: #6a4d38;
  border: none;
  display: block;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  padding: 6px 0px 5px 0px;
  &:hover {
    background-color: #886d5a;
  }
}

.main_nav__link-block {
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  @include text-params(#fff,18px);
  @include text-style(none,uppercase);
  margin: 0 auto;
  padding-top: 15px;

}

.main-nav {
  width: 320px;
  margin: 0 auto;
  @include min-width($tablet-width){
    width: auto;
    margin: 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.site-list {
  @include min-width($tablet-width){
    width: 570px;
  }
  @include  min-width($desktop-width){
    width: 780px;
  }
  &__item {
    border-bottom: 1px solid #604735;
    box-shadow: 0px 1px 0px #886d5a;
  }
  &__link {
    @include text-params(#fff,18px);
    @include text-style(none,uppercase);
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}

.user-list {
  background-color: #6a4d38;
  @include min-width($tablet-width){
    width: 60px;
  }
  @include  min-width($desktop-width){
    width: 160px;
  }
  &__login {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
}
