.main-nav {
  width: 320px;
  margin: 0 auto;
  @include min-width($tablet-width){
    width: auto;
    margin: 0;
  }
  &__wrapper {
    @include min-width($tablet-width){
      display: flex;
      justify-content: space-between;
      width: 640px;
      margin: 0 auto;
    }
    @include min-width($desktop-width){
      width: 960px;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.main-nav__toggle {
  width: 70px;
  height: auto;
  background: #6a4d38;
  border: none;
  display: block;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  padding: 6px 0px 5px 0px;
  &:hover {
    background-color: #886d5a;
  }
}

.main_nav__link-block {
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  margin: 0 auto;
  padding-top: 15px;

}

.site-list {
  @media (max-width: 767px) {
    background-color: #81654f;
  }
  @include min-width($tablet-width){
    display: flex;
    width: 570px;
  }
  @include min-width($desktop-width){
    width: 780px;
  }
  &__item {
    @media (max-width: 767px){
      border-bottom: 1px solid #604735;
      box-shadow: 0px 1px 0px #886d5a;
    }
  }
  &__link {
    @include link;
  }
}

.user-list {
  @media (max-width: 767px){
    background-color: #6a4d38;
  }
  @include min-width($tablet-width){
    display: flex;
    width: 60px;
  }
  @include min-width($desktop-width){
    width: 160px;
  }
  &__login {
    @include link;
    font-size: 16px;
  }
}
