.reviews {
  background-color: #f7f5f1;
  color: #000000;
  &__wrapper {
    padding: 30px 0;
  }
  &__title {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
  }
  &__list {
    height: auto;
  }
  &__item {
    margin: 20px;
    display: block;
  }
  &__picture {
    margin: 0;
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 20px;
  }
  &__text {
    display: table;
    margin: 0;
  }
  &__author-name {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-style: normal;
  }
  &__button {
    text-align: center;
  }
  &__toggles {
    text-align: center;
  }
}

