@mixin text-params ($color, $size) {
  color: $color;
  font-size: $size;
}
@mixin text-style($decoration,$transform) {
  text-decoration: $decoration;
  text-transform: $transform;
}
// Media
@mixin min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin max-width($size) {
  @media (max-width: $size) {
    @content;
  }
}
@mixin container {
  min-width: 280px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
