@mixin text-params ($color, $size) {
  color: $color;
  font-size: $size;
}
@mixin text-style($decoration,$transform) {
  text-decoration: $decoration;
  text-transform: $transform;
}
// Media
@mixin min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin max-width($size) {
  @media (max-width: $size) {
    @content;
  }
}
